<ngx-charts-bar-vertical [view]="[x,  y]" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>
<hr>
<ngx-charts-bar-vertical-2d [view]="[x,  y]" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
  [groupPadding]="groupPadding" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
  ></ngx-charts-bar-vertical-2d>

<hr>
<ngx-charts-pie-chart [results]="single" [legend]="true" [legendTitle]="'Product Sale Report'" [view]="[1000,300]"
  [labels]="true">
</ngx-charts-pie-chart>
<hr>
<ngx-charts-advanced-pie-chart [view]="[1000,300]" [results]="single" [gradient]="true">
</ngx-charts-advanced-pie-chart>

<hr>
<ngx-charts-pie-grid [view]="[x,  y]" [results]="single">
</ngx-charts-pie-grid>
